__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
dist/
*.spec
*.exe
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
.idea/
.vscode/
*.swp
*.log
hdri_match/debug_output/
*.onnx.data
input_hdri_plate/
*.7z